<!DOCTYPE html>
<html ng-app="raffle">
<head>
  <title>Raffle Winners!</title>
  <link rel="icon" href="favicon.ico?v=2" type="image/x-icon">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/vendor/angular/angular.min.js"></script>
  <script src="js/raffle_app/app.js"></script>
  <style>
    h1,h2 {
      color: red;
    }
    h3 {
      color: green;
    }
  </style>
</head>
<body>
<h1 class="text-center">Raffle Winners!</h1>

<div class="container" ng-controller="WinnerController as winnerController">
  <div class="row">
    <div class="col-xs-6">
      <h2>10 Recommendation Winners</h2>
      <button ng-click="winnerController.getRecommendationWinners();">GET 10 Random Winners</button>
      <h3 ng-cloak ng-repeat="student in winnerController.recommendationWinners track by $index">{{$index + 1}}. {{student["First Name"]}} {{student["Last Name"]}}</h3>
    </div>
    <div class="col-xs-6">
      <h2>Grand Prize: Apple TV 2 Winner:</h2>
      <button ng-click="winnerController.getGrandPrizeWinner();">GET Grand Prize Winner</button>
      <h3>{{winnerController.grandPrizeWinnerAnnouncement}}</h3>
    </div>
  </div>
</div>

</body>
</html>